.btn-pic {
  display: block;
  position: relative;
  width: 80px;
  height: 20px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  top:22px;
}

.btn-pic-bg {
  border: 1px solid #ff9000;
  background: none repeat scroll 0 0 #ff9000;
  color: #ffffff;
  text-decoration: none;
}

.btn-pic span {
  display: block;
  line-height: 19px;
}

.ipt-bg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 40px;
  font-size: 100px;
  opacity: 0;
  filter: alpha(opacity=0);
}

.spanc{
  color: red;
}

.drt {
  float: right;
  display: none;
  z-index:2;
}

.dft {
  float: left;
  display:none;
}